/* Fonts */
@font-face {
    font-family: "Supreme Spike";
    src: url(./fonts/supreme-spike.otf);
}

@font-face {
    font-family: "B612";
    src: url(./fonts/B612_regular.ttf);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Global */
body {
    position: relative;
}

h1 {
    font-family: "Supreme Spike";
    font-size: 30px;
    color: rgb(81, 255, 0);
    text-shadow: 2px 4px 20px;
    letter-spacing: 0.5rem;
    text-align: center;
    display: flex;
    position: absolute;
    top: 5%;
    left: 37%;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.416);
}

/* Canva */
#globe {
    overflow: hidden;
}

/* Dashboard */
#dashboard {
    font-family: "B612";
    color: rgb(102, 255, 0);
    position: absolute;
    top: 4%;
    left: 0%;
    width: 10%;
    margin: 5em;
    padding: 2em;
    border: double rgb(102, 255, 0) 3px;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 1px rgba(102, 255, 0, 0.5);
}

.data {
    margin-bottom: 1em;
}

/* Animation */
.timeAnimation {
    background-image: url("./images/icone_terre.png");
    background-size: contain;
    filter: drop-shadow(0 0 0.75rem rgba(102, 255, 0, 0.5));
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 8em;
    height: 8em;
    margin: 15px;
    margin-left: 30px;
    position: absolute;
    top: 5%;
    right: 3%;
}

#iss {
    width: 20%;
    position: absolute;
}

.clock {
    display: flex;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.598);
}

p {
    font-family: "B612";
    color: rgb(255, 255, 255);
    margin: 2px;
}